@font-face {
  font-family: Digital-7;
  font-style: normal;
  font-weight: normal;
  src: local("Digital-7"), url('/demo_4_cv/build/fonts/digital-7.ttf') format('truetype');
}

@font-face {
  font-family: Audiowide-Regular;
  font-style: normal;
  font-weight: normal;
  src: local("Audiowide-Regular"), url('/demo_4_cv/build/fonts/Audiowide-Regular.ttf') format('truetype');
}
